@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
    color:#1e2938#243e63;
}

html {
    scroll-behavior:smooth;
}

body {
    max-width:100vw;
    overflow-x:hidden;
}

nav {
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width:100%;
    max-width:1200px;
    margin:0 auto;
}

a {
    line-height:2px;
}

li {
    list-style-type: none;
    font-weight:bold;
}

.nav__row {
    padding:0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}

.nav__logo {
    display: flex;
}

.nav__logo--img {
    height:40px;
    width:40px;
}

.nav__logo--title {
    font-weight:900;
    font-size:26px;
    color:#1e2938;
    margin-left:12px;
    padding-top:4px;
    letter-spacing:0.6px
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    text-decoration:none;
    padding:26px;
    font-size:14px;
    color:#1e2938;
    border-bottom:2px solid rgba (0,0,0,0.1);
}

.nav__link--login {
    text-decoration: none;
    font-size:14px;
    color:#1e2938;
    margin-left:40px;
    margin-right:26px;
}

.nav__link:hover {
    text-decoration: 2px underline #6415ff;
}

.nav__link--login:hover {
    text-decoration:underline #6415ff;
}

.nav__link--primary {
    text-decoration: none;
    background-color:#6415ff;
    color:#fff;
    margin:0;
    padding:10px 32px;
    line-height:1.5;
    border:none;
    border-radius:20px;
    font-size:14px;
}

.nav__link--primary:hover {
    background-color:#4637bb;
}